version: '3.8'

services:
  bot:
    build: .
    restart: unless-stopped
    depends_on:
      - redis
    env_file:
      - .env
    volumes:
      - ./:/app
    networks:
      - meetsmatch-network

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - meetsmatch-network

  prometheus:
    image: prom/prometheus:latest
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    networks:
      - meetsmatch-network

  grafana:
    image: grafana/grafana:latest
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      - prometheus
    networks:
      - meetsmatch-network

networks:
  meetsmatch-network:
    driver: bridge

volumes:
  redis-data:
  prometheus-data:
  grafana-data:
